[Unit]
Description=GPS Logger Service
After=network.target

[Service]
ExecStart=/usr/sbin/gps_logger.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
